/*General Styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: Georgia, serif;
  background-image: url(images/bats.gif);
  background-repeat: repeat;
  line-height: 1.5;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: 1000px;
  background-color: #ffffff;
  box-shadow: 0 15px 50px 10px rgba(0, 0, 0, 1);
  padding: 20px;
  overflow: hidden;
  display: block;
  margin: 0 auto; 
}

/*  Header */
.header {
  display: flex;
  align-items: center;
  background: linear-gradient(to right, white, orange, black);
  padding: 10px;
  margin: -20px -20px 0 -20px;
  color: black;
}

.header img {
  width: 80px;
  height: auto;
  margin-right: 15px;
}

.image-text h1 {
  margin: 0;
  font-size: 35px;
}

.image-text h3 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

/*  Navigation */
nav {
  margin: 0 -20px;
}

nav ul.menu {
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 0;
  padding: 3px;
}

nav ul.menu li {
  position: relative;
  z-index: 1;
  text-align: center;
}

nav ul.menu li a {
  padding: 12px 50px;
  text-decoration: none;
  display: block;
  color: white;
}

nav ul.menu li a:hover {
  background-color: gray;
}

nav ul.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  list-style: none;
  min-width: 180px;
  padding: 0;
  text-align: center;
}

nav ul.submenu li a {
  display: block;
  padding: 15px;
  margin: 0;
  color: white;
  text-decoration: none;
}

nav ul.submenu li a:hover {
  background-color: gray;
}

nav ul.menu li:hover > ul.submenu {
  display: block;
}

/* Index Page  */
.first_part {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.links {
  margin-left: -30px;
  padding: 40px;
  margin-top: -20px;
}

.links p {
  border: 2px solid black;
  background-color: orange;
  margin: 7px;
  font-weight: bold;
  padding: 10px;
  width: 90px;
  text-align: center;
}

.links a {
  color: black;
  text-decoration: none;
}

.links a:hover {
  color: green;
}

.text_1 {
  padding: 50px;
  font-size: 15px;
  margin-top: -70px;
  margin-left: -35px;
}

/* Dropcap for bold first letters */
.dropcap {
  font-weight: bold;
  font-size: 1.8em;
}

/* Product of the Week Section */
.second_part {
  margin-left: 190px;
  margin-top: -60px;
  margin-bottom: 20px;
  font-size: 15px;
  color: black;
}

.second_part h3,
.second_part h4 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
  color: black;
}

.second_part p {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.cat-img {
  display: block;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.cat-link {
  margin-top: -30px;
  margin-bottom: 20px;
}

.cat-link a {
  color: orange;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.cat-link a:hover {
  color: green;
}

/* Product Listing Page */
.product-section {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
}

.sidebar {
  margin-left: -30px;
  padding: 40px;
  margin-top: -20px;
}

.sidebar p {
  border: 2px solid black;
  background-color: orange;
  margin: 7px;
  font-weight: bold;
  padding: 10px;
  width: 90px;
  text-align: center;
}

.sidebar a {
  color: black;
  text-decoration: none;
}

.sidebar a:hover {
  color: green;
}

.product-list {
  flex: 1;
  text-align: left;
  margin-top: -10px;
}

.product-list h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 10px;
}

/* Product Table */
table {
  border-collapse: collapse;
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  table-layout: fixed;
  border: none;
  margin-left: 9px;
}

table th {
  text-align: left;
  font-size: 16px;
  padding: 8px 12px;
  background-color: transparent;
  border: none;
}

table td {
  padding: 8px 12px;
  vertical-align: top;
  font-size: 15px;
  font-weight: bold;
  background-color: #fff;
  border: none;
}

table td:nth-child(2) {
  border-right: 1px solid #ccc;
}

table td:last-child,
table th:last-child {
  position: relative;
  background-color: #f9db8f; 
  font-weight: bold;
  width: 80px;
  text-align: center;
  padding: 6px 5px;
}

table a {
  color: black;
}

table a:hover {
  color: orange;
}

/* Product Detail Page */
.product-detail-page {
  display: flex;
  margin-top: 20px;
}

.product-detail-page .sidebar {
  padding: 0;
  margin: 0;
}

.product-info {
  flex: 1;
  padding: 80px;
  font-size: 19px;
  margin-top: -30px;
}

.recommendations-box {
  width: 220px;
  background-color: #f9db8f;
  padding: 10px;
  border-left: 2px solid #ccc;
  margin: 0;
  margin-top: -20px;
}

.recommendations-box h3 {
  font-size: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.recommendations-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recommendations-box li {
  margin-bottom: 10px;
  margin-left: 40px;
}

.recommendations-box li a {
  color: black;
}

.recommendations-box li a:hover {
  color: green;
}

.recommendations-box img {
  width: 60px;
  height: auto;
  margin-top: 15px;
  margin-left: 10px;
}

/* Deranged Cat Page */
.Deranged-cat {
  margin-left: 40px;
  margin-top: 10px;
}

.Deranged-cat h2 {
  margin-bottom: 15px;
  font-size: 21px;
}

.product-info {
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
  margin-top: 0;
}

/* Footer */
.footer {
  text-align: center;
  border-top: 2px solid black;
  background: linear-gradient(to right, black, orange, white);
  color: black;
  padding: 15px 0;
  margin: 0 -20px -20px -20px;
  width: calc(100% + 40px);
  align-self: center;
  position: relative;
  bottom: 0;
}
